html, body{
    overflow-x: hidden;
}

body{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

.form-inline{
    display: inline-block;
}

.heading{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: white;
}

.card{
    background-color: white;
    margin-right: 70px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
};