body{
    background-color: blueviolet;
    font-family: 'Open Sans', sans-serif;
}

.form-inline{
    display: inline-block;
}

.card{
    background-color: blueviolet;
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
};
